/* body {
  background-color: #1b2838;
} */

#moreLikeThis {
  margin-left: auto;
  margin-right: auto;
  width: 616px;
  height: 190px;
  margin-top: 40px;
  margin-bottom: 16px;
  background-color: #1b2838;
}

#moreLikeThis #serviceTitle {
  line-height: 26px;
  background-image: url(https://store.akamai.steamstatic.com/public/images/v6/maincol_gradient_rule.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}

#moreLikeThis a {
  height: 12px;
  /* vertical-align: text-top; */
  font-family: Arial, Arial, Helvetica, sans-serif;
  float: right;
  background-color: rgba( 103, 193, 245, 0.2 );
  border-radius: 1px;
  color: #67c1f5;
  font-size: 11px;
  padding: 2px 4px;
  /* text-decoration: none; */
  margin-right: 3px;
}

#moreLikeThis h2 {
  font-family: "Motiva Sans", Sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 10px;
  letter-spacing: 2px;
  font-weight: normal;
  padding-top: 2px;
}

#moreLikeThis .gamesContainer {
  display: inline-block;
  white-space: nowrap;
  width: 616px;
  overflow: hidden;
  /* text-overflow: ellipsis; */
}

#moreLikeThis .games {
  float: none;
  display: inline-block;
  vertical-align: top;
  background-color: rgba( 0, 0, 0, 0.2 );
  padding: 15px;
  height: 100px;
  margin-right: 2px;
  border: 1px solid rgba( 0, 0, 0, 0 );
}

#moreLikeThis .headerImage {
  height: 64.13px;
  color: #ffffff;
  width: 171px;
}

#moreLikeThis .title {
  font-size: 13px;
  font-family: "Motiva Sans", Sans-serif;
  color: #8f98a0;
  width: 171px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#moreLikeThis .price {
  color: #acdbf5;
  display: inline;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 15px;
}

#moreLikeThis .slider {
  width: 616px;
  height: 18px;
  position: relative;
}

#moreLikeThis .sliderLeft {
  display: block;
  position: absolute;
  width: 38px;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba( 0, 0, 0, 0.4 );
  border-radius: 3px;
  cursor: pointer;
}

#moreLikeThis .sliderLeft span {
  display: inline-block;
  background-position: -18px 0px;
  background-repeat: no-repeat;
  background-image: url(https://store.akamai.steamstatic.com/public/images/v6/icon_cluster_controls.png);
  width: 9px;
  height: 7px;
  margin-left: 13px;
  margin-top: 5px;
}

#moreLikeThis .sliderRight {
  display: block;
  position: absolute;
  width: 38px;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba( 0, 0, 0, 0.4 );
  border-radius: 3px;
  cursor: pointer;
}

#moreLikeThis .sliderRight span {
  display: inline-block;
  background-position: -9px 0px;
  background-repeat: no-repeat;
  background-image: url(https://store.akamai.steamstatic.com/public/images/v6/icon_cluster_controls.png);
  width: 9px;
  height: 7px;
  margin-left: 15px;
  margin-top: 5px;
}

#moreLikeThis .sliderBar {
  width: 538px;
  height: 18px;
  display: block;
  position: absolute;
  left: 39px;
  right: 39px;
  top: 0;
  bottom: 0;
  background-color: rgba( 0, 0, 0, 0.2 );
  border-radius: 3px;
}

#moreLikeThis .sliderHandle {
  display: block;
  position: absolute;
  left: 0px;
  background-color: rgba( 0, 0, 0, 0.5 );
  top: 0;
  border-radius: 3px;
  height: 18px;
  width: 60px;
  cursor: pointer;
}